.p_success {
  font-size: 1.5em;
  color: teal;
  text-align: center;
}

.label-inscription {
  font-size: 4em;
  color: rgb(223, 189, 255);
  transform: rotate(-45deg);
  text-align: center;
  width: 30%;
}

.label-inscription-xs {
  font-size: 2em;
  color: rgb(223, 189, 255);
  text-align: center;
}
